.sectionContainer{
    align-content: center;
    justify-content: center;
    display: flex;
    flex: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sectionTextos{
    align-content: center;
    justify-content: center;
    display: flex;
    flex: wrap;
    padding: 3rem;
}

.setionTxtSpace{
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}

.circle1{
    background-color: rgb(238, 244, 255);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: wrap;
}

.sectionTxtExplore{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: wrap;
}

.p1{
    padding: 1rem;
    letter-spacing: 8px;
    text-align: justify;
}

.p2{
    padding: 1rem;
    text-align: justify;
    line-height: 2rem;
}

h1{
    padding: 1rem;
    font-size: 10rem;
}